
<div class="row">
  <h1 class="center primary-color">Fitlytics</h1>
</div>
<div class="row">
  <h2 class="center">Please enter your login information</h2>
</div>
  <form>
  <p class="center">Username: <input type="text" name="username" placeholder="Username" required/></p>
  <p class="center">Password: <input type="text" name="password" placeholder="Password" required/></p>
  <p class="center"><input class="login-btn" type="submit" value="Log In"></p>
  </form>
